venv/
.vscode/
TODO
obj
out
lib
__pycache__
*.pyc
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.lai
*.la
*.a
*.lib
.project
.cproject
.settings
*.pro.user
*.o

# Linux kernel
*.ko
*.mod*
*.order
*.symvers
.*.*.cmd
build-*